.buzz-feed{
    padding: 2px 16px;
    width:30vw;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
    margin-left: 30vw;
}
.buzz-feed:first-child .buzz-header{
    height: 78px;
}
.buzz-feed:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.buzz-header{
    background-color: #fff;
    padding: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.buzz-header div img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 40.7px;
    max-width: 40px;
    width: 100%;
}
.buzz-header div span:first-child:hover{
    color: blue;
}
.buzz-header div span:first-child{
    color: rgba(0,0,0,0.87);
    cursor: pointer;
}
.buzz-header div span:last-child{
    color: rgba(0,0,0,0.54);
}

.buzz-content{
    padding: 5px 16px;

}
.buzz-content article{
    font-weight: normal;
    font-family: Roboto !important;
    font-size: 14px;
    padding: 5px;
    text-align: left;
    direction: ltr;
    border-radius: 5px;
    word-wrap: break-word;
}
.buzz-attachment{
    vertical-align: top;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 0;
    max-width: 100%;
    height: 427px;
    max-height: 427px;

}
.buzz-footer{
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.buzz-footer div{
    text-align: center;
}
.buzz-footer div i{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 5px;
}
.buzz-footer div:hover{
    background-color: #cccccc;
    cursor: pointer;
}
.delete-btn{
    box-sizing: border-box;
    padding-left: 10px;
}

@media screen and (max-width: 700px) {
    .buzz-content img{
        width: 100%;
    }
}
@media screen and (max-width: 300px) {
    .buzz-feed:first-child .buzz-header{
        height: 85px;
    }
}
.read-more{
    color: #030474;
    font-size: larger;
    cursor: pointer;
    width: 150px;
}
.liked{
    color: #2823ff;
}
.disliked{
    background-color: #ff4f4a;
}
.activity{
    text-align: center;
    border:1px solid #ccc;
    background-color: #a9aabb;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-y: hidden;
}
.delete-btn{
    margin-left: -2px;
}