nav{
    background-color: #3438a1;
    padding: 5px 20px;
    display: flex;
    justify-content: space-around;
    vertical-align: center;
    top:0;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-bottom: 55px;
}
nav  a,nav >div{
    width: 100%;
    padding: 10px 10px;
    background-color: #3438a1;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
nav a:active,nav >div:active{
    color: #ffffff;
    background-color: #030474;
    text-decoration: none;
}
nav:last-child{
    margin-right: 0;
}
header > section{
    margin-top: 49px;
    width: 100%;
    background: url("../../Assests/header background-1.jpeg") no-repeat center;
    height: 200px;
    display: flex;
    vertical-align: center;
}
.banner-text{
    font-family: Roboto;
    color: #fff;
    font-weight: bold;
    word-wrap: break-spaces;
    width: 600px;
    padding-left: 130px;
    margin-right: auto;
}
@media screen and (max-width: 500px) {
    .banner-text{
        font-size: 11px;
        padding-left: 20px;
        width: 200px;
    }
    header>section{
        height: 150px;
    }
}

@media screen and (max-width: 300px) {
    header>section{
        height: 100px;
    }
}