.buzz-create{
    padding: 10px;
    font-family: Roboto;
}
input {
    padding: 5px;
    border-radius: 5px;
}
.textarea{
    font-size: 17px;
    color: #000010;
    font-family: Roboto;
}
.row select{
    width: 200px;
    margin: 10px 0 0 0;

}
input[type='file']{
    margin-top: 10px;
}
.post-control{
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
}