*{
    box-sizing: border-box;
    font-family: arial;
}
.login-background{
    width: 100%;
    background: url('./background.jpg') no-repeat local;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.login-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 350px;
    text-align: center;

}
.login-card img{
    width: 200px;
}
.login-card input[type="button"]{
    background-color: #1d16f9;
    border:1px solid #ccc;
    padding: 10px 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}